.loginDiv {
    font-size: 14pt;
    margin-top: 40px;
    margin-left: 20px;
}

#username, #password {
    margin-left: 20px;
    font-size: 14pt;
}

#loginButton {
    width: 200px;
    background-color: cornflowerblue;
}

#loginButton:hover {
    background-color: dodgerblue;
}
body {
    background-color: red;
    margin: 0;
    font-family: 'Arial', serif;
}

h1 {
    margin-top:0;
}

#content {
    background-color: limegreen;
    width: 1000px;
    margin: 0 auto;
    min-height: 600px;
    padding: 32px;
}
