body {
    background-color: navy; /* this sets the background colour to navy  */
    margin: 0;  /* this sets a margin to 0px so there will be no border  */
    font-family: 'Arial', serif;  /* this sets the font style to arial and serif */
}

h1 {
    margin-top:0; /* this sets the top margin padding to 0px */
}

#content { /* this gives the id content from my javascript different attributes */
    background-color: white; /* this sets the background colour to white for the content id  */
    width: 1000px; /* this sets the width to 1000px wide  */
    margin: 0 auto; /* this gives the margin an auto margin  */
    min-height: 600px;  /* this sets the height to 600px */
    padding: 32px;  /* this gives a padding to the content id of 32 pixels  */
}
