body {
    background-color: white; /* this sets the background colour to navy  */
    margin: 10px;  /* this sets a margin to 0px so there will be no border  */
    font-family: 'Arial', sans-serif;  /* this sets the font style to arial and serif */
}

h1 {
    margin-top:-15.75px; /* this sets the top margin padding to 0px */
    text-align: left;
}


#button {
    width:200px;
    font-size: 20px;
    border: black;
    height: 30px;

}


header{
    display:flex;
    width: 70%;
    height: 20vh;
    margin:auto;
    align-items: center;
}



.nav-bar{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    display: flex;
    color: darkblue;
}
.nav-link:hover {
    color: lightgreen;
}
.logo-box, .nav-bar{
    display:flex;
}
nav{
    flex: 2;
}